<div id="about">
	<h1>Find Your Resources</h1>
	<p>So you have decided what classes you are interested in taking, and you are wondering where to start.  Each course page contains the resources the class
	has been offering in previous courses and a list of resources that other students have found helpful to successfully navigate the class.</p>
	<p></p>
	<p>For study material suggestions, choose the class from the dropdown menu above and scroll through the possibilities.</p>
	<p></p>
	<p>Taken the class before?  Leave reviews of the course material and add your own outside resources to list.  Vote for resources others have suggested to ensure helpful resources appear at the top of the suggested material.</p>
</div>